*.s#*
*.b#*

R_files/Calib_data_process.R
R_files/Examine_data_v1.R

Manuscripts/


R_files/*.png

R_files/Limpet_force_meter_analysis_cache/
R_files/Limpet_force_meter_analysis_files/
R_files/Data/
*.DS_Store
*.project
*.log
